._appointment-card {
  padding: 10px 20px;
  min-height: 125px;
  background-color: var(--surface-0);
  border-radius: 5px;
  -webkit-box-shadow: 5px 9px 27px -11px rgba(45, 45, 45, 0.76);
  box-shadow: 5px 9px 27px -11px rgba(45, 45, 45, 0.76);
}

@media (max-width: 768px) {
}
